@import url(http://fonts.googleapis.com/css?family=Lobster|Abel|Open+Sans+Condensed:300);

* {
  margin: 0;
  font-family: 'Abel', sans-serif;
}

html, body {
  height: 100%;
  background-color: #E35656;
}

#container {
    height: auto;
    min-height: 100%;
}

h1 {
  display: block;
  background-color: #E35656;
  margin: 0 auto;
  text-align: center;
  font-family: 'Lobster', cursive;
  color: #320000;
  font-size: 5em;
}

.pomodoroCounter {
  display: flex;
  background-color: #320000;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  padding: 20px;
}

.header .session {
  font-size: .8em;
  display: flex;
}

.header .session .breakCtrl .number, .header .session .sessionCtrl .number {
  font-size: 3em;
}

.header .session .breakCtrl, .header .session .sessionCtrl {
  display: inline;
  padding-left: 30px;
  padding-right: 30px;
}

.header .session .minus, .header .session .plus {
  background-color: #E35656;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 3em;
  outline: none;
}

.header .session .time {
  font-size: 2.5em;
  padding-left: 10px;
  padding-right: 10px;
}

.section {
  background-color: #E35656;
  height: 100%;
  color: #320000;
}

.section .settings {
  text-align: center;
  font-size: .6em;
  color: #320000;
  padding-top: 2em;
}

.section .settings #startButton {
  padding-top: .3em;
  font-size: 2em;
}

.section .settings #endMessage {
  padding-top: .6em;
  font-size: 1.5em;
}

.section .title {
  text-align: center;
  line-height: 180px;
  font-size: .8em;
  color: #320000;
}

.section .timer {
  margin: 0 auto;
  margin-top: -.35em;
  text-align: center;
  width: 300px;
  height: 300px;
  font-size: 4em;
  border: 2px solid #320000;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 20;
  overflow: hidden;
}

.section .timer:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
  z-index: 2;
  border: 4px solid #320000;
}

.section .fill {
  content: '';
  position: absolute;
  background: #9DE356;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

a {
    color: #9DE356;
    text-decoration: none;
}

footer {
    position: fixed;
    clear: both;
    height: 2.2em;
    margin-top: -10em;
    padding: 5px 5px;
    text-align: center;
    color: white;
    background-color: #320000;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer > h4 {
    font-size: 20px;
}

@media screen and (max-device-width: 375px) {
    h1 {
        font-size: 10em;
    }
    .header {
        padding: 40px;
    }
    .header .session {
        font-size: 1.3em;
    }
    .section {
        margin: 15%;
    }
    .section .timer {
        width: 600px;
        height: 600px;
    }
    .section .settings {
        font-size: 1em;
        padding-top: 3em;
    }

    .section .title {
        line-height: 100px;
        font-size: 1.5em;
        margin-top: 22%;
    }
}
