<!DOCTYPE html>
<html ng-app="myApp" ng-controller="MainController">
  <head>
    <title>Pomodoro Timer</title>
    <link rel="stylesheet" href="css/master.css">
  </head>
  <body>
    <h1>Pomodoro!</h1>

    <div class="pomodoroCounter">
      <div ng-hide="started">
        <img src="images/tomatoOne.png" ng-click="setSessions(1)" ng-class="{selected:sessionCount === 1}"/>
        <img src="images/tomatoTwo.png" ng-click="setSessions(2)" ng-class="{selected:sessionCount === 2}"/>
        <img src="images/tomatoThree.png" ng-click="setSessions(3)" ng-class="{selected:sessionCount === 3}"/>
        <img src="images/tomatoFour.png" ng-click="setSessions(4)" ng-class="{selected:sessionCount === 4}"/>
      </div>

      <div ng-show="started">
        <img ng-src="{{s ? 'images/Xtomato.png' : 'images/colorTomato.png'}}" ng-repeat="s in sessions track by $index" />
      </div>
    </div>

    <section class="header">
      <div class="session">
        <div class="breakCtrl">
          <p class="number">{{breakLength}}</p>
          <button ng-click="breakLengthChange(-1)" class="minus">-</button><span class="time">  Break Length</span>
          <button ng-click="breakLengthChange(1)" class="plus">+</button>
        </div>
        <div class="sessionCtrl">
          <p class="number">{{sessionLength}}</p>
          <button ng-click="sessionLengthChange(-1)" class="minus">-</button><span class="time">Session Length</span>
          <button ng-click="sessionLengthChange(1)" class="plus">+</button>
        </div>
      </div>
    </section>
    <section ng-click="toggleTimer()" class="section">
      <div class="timer">

        <div ng-hide="started" class="settings">
          <div ng-hide="sessionCount" >
            <p>Choose your settings before starting!</p>
          </div>
          <div ng-show="sessionCount" id="startButton">
            <p>Start!</p>
          </div>
        </div>

        <div ng-show="started">
          <p class="title">{{sessionName}}</p>
          <p>{{timeLeft}}</p><span ng-style="{'height':fillHeight, 'background':fillColor }"class="fill"></span>
        </div>
      </div>
    </section>

    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </body>
</html>
