<!DOCTYPE html>
<html ng-app="myApp" ng-controller="MainController">
  <head>
    <title>Pomodoro Timer</title>
    <link rel="stylesheet" href="master.css">
  </head>
  <body>
    <h1>Pomodoro!</h1>
    <section class="header">
      <div class="session">
        <div class="breakCtrl">
          <p class="number">{{breakLength}}</p>
          <button ng-click="breakLengthChange(-1)" class="minus">-</button><span class="time">  Break Length</span>
          <button ng-click="breakLengthChange(1)" class="plus">+</button>
        </div>
        <div class="sessionCtrl">
          <p class="number">{{sessionLength}}</p>
          <button ng-click="sessionLengthChange(-1)" class="minus">-</button><span class="time">Session Length</span>
          <button ng-click="sessionLengthChange(1)" class="plus">+</button>
        </div>
      </div>
    </section>
    <section ng-click="toggleTimer()" class="section">
      <div class="timer">
        <p class="title">{{sessionName}}</p>
        <p>{{timeLeft}}</p><span class="fill"></span>
      </div>
    </section>

    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </body>
</html>
